
.description__event-details { 
    display: flex;
    max-width: 1242px;
    margin: 64px auto 0;
    padding-right: 10px;
    
}

@media screen and (max-width: 1024px) {
    .description__event-details {
        flex-direction: column;
        margin-top: 25px;
    }
}
  
