.description {
   /* display: flex;
    justify-content: space-between;
    align-items: center;*/
    margin-top: 100px;
    max-width: 1222px;
    margin: 80px auto 0;
  }

@media screen and (max-width: 1024px) {
    .description {
        max-width: calc(100% - 40px);
        margin-top: 48px;
    }
}
  

.description__intro {
  color: var(--text-main-color);
  font-family: 'Merriweather';
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.35;
  font-weight: 400;
  max-width: 764px;
  margin-right: 32px;
}

.description__span {
  color: var(--span-orange);
  font-weight: 600;
}

.description__image {
  
}

.description__image_mob_view {
  display: none;
  
}

.description__game-photo {
  position: relative;
  right: 60px;
  bottom: 40px;
}

.description__sto{
  display: inline-block;
  position: relative;
  margin-right: 12px;
}

.description__sto::before {
  content: '';
  position: absolute;
  width: calc(100% + 3px);
  height: 2px;
  background-color: #F54932;
  top:50%;
  left: -3px;
  border-radius: 1px;
  
}

@media screen and (max-width: 768px) {
  .description__intro {
    font-size: 28px;
    margin-right: 0;
  }

  .description__game-photo {
    right: 0;
    bottom: 0;
  }

  .description__image_mob_view {
    display: block;
    margin: 24px 0;
  }
  
  .description__image_mob_hidden {
    display: none;
  }
}