.players {
    max-width: 1222px;
    margin: 0 auto 140px;
    position: relative;
}

.players__cards-container {
    overflow:hidden;
    margin-top: 60px;
}

.players__nav-button {
    border: none;
    outline: none;
    background-color: #313131;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-size: contain;

    transition: background-color .2s ease-in;
}

.players__nav-button:hover {
    background-color: #FBCE51;
}

.players__pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 151px;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-main-color);

    position: absolute;
    top: 10px;
    right: 0;
    
}

.players__nav-button_left {
    background-image: url(../../images/carousel-button-left.svg);
}

.players__nav-button_right {
    background-image: url(../../images/carousel-button-right.svg);
}

@media screen and (max-width: 768px) {
    .players {
        max-width: calc(100% - 40px);
        margin-bottom: 100px;
    }

    .players__cards-container {
        margin-top: 40px;
    }
    .players__nav-button {

        width: 36px;
        height: 36px;
    }

    .players__pagination {
        position: relative;
        margin: 40px auto;
    }
}