.footer {
    padding: 40px 0 72px;
    background-color: #E9DED4;
}

.footer__content {
    max-width: 1222px;
    margin: 0 auto;
    font-size: 16px;
    color: var(--text-main-color);
}

@media screen and (max-width: 768px) {
    .footer{
        padding: 40px 0 60px;
    }
    .footer__content {
    
        max-width: calc(100% - 40px);
    }
}
