.header__content{
    max-width: 1366px;
    margin: 0 auto;
    width: 100%;
    padding: 26px 72px;
}

@media screen and (max-width: 768px) {
    .header__content {
        padding: 18px 20px;
    }
  }