.section-title {
    font-family: 'Merriweather';
    text-transform: uppercase;
    color: var(--text-main-color);
    max-width: 806px;
    line-height: 1.2;
    font-size: 54px;
    font-weight: 400;
  }

  @media screen and (max-width: 768px) {
    .section-title {
      font-size: 36px;
      line-height: 1.1;
    }
  }