.description__first{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1222px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .description__first {
        flex-direction: column;
        max-width: calc(100% - 40px);
        margin: 0 auto;
    }
}