<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>"  rel="canonical" />
</head>
<body class="page">
  <%= require('html-loader!./inner-metrika.html').default %>
  <header class="header">
    <img class="logo logo_place_header" src="<%=require('./images/logo.svg')%>" alt="Шахматный клуб">
    <h1 class="header__title">Превратите уездный город <span class="block text-center">в столицу</span> <span class="block text-right">земного шара</span></h1>
    <p class="header__subtitle">Оплатите взнос на телеграммы для организации Международного васюкинского турнира по шахматам</p>
    <div class="header__square-pic rotation"></div>
  </header>
  <main>
    <section class="description">
      <div class="flex items-center justify-between">
        <p class="description__intro">Чтобы поддержать Международный васюкинский турнир посетите лекцию на тему: <span class="description__span">«Плодотворная дебютная идея»</span></p>
        <img class="description__image" src="<%=require('./images/desc-img.png')%>" alt="Шахматная партия">
      </div>
      <div class="description__event-details flex">
        <img src="<%=require('./images/desc-game.png')%>" alt="Партия">
        <div>
          <p class="description__intro">И сеанс <span class="description__span">одновременной игры в шахматы на 160 досках</span> гроссмейстера О. Бендера</p>
          <table class="description__table">
            <tr>
              <th>Место проведения:</th>
              <td>Клуб «Картонажник»</td>
            </tr>
            <tr>
              <th>Дата и время мероприятия:</th>
              <td>22 июня 1927 г. в 18:00</td>
            </tr>
            <tr>
              <th>Стоимость входных билетов:</th>
              <td>20 коп.</td>
            </tr>
            <tr>
              <th>Плата за игру:</th>
              <td>50 коп.</td>
            </tr>
            <tr>
              <th>Взнос на телеграммы:</th>
              <td><span>100 руб.</span>21 руб. 16 коп.</td>
            </tr>
          </table>
          <p>По всем вопросам обращаться в администрацию к К. Михельсону</p>
        </div>
      </div>
    </section>

    <section class="steps">
      <h2 class="section-title">Этапы преображения Васюков</h2>
      <p class="section-subtitle section-subtitle_steps">Будущие источники обогащения васюкинцев</p>
      <ol class="steps__list grid grid-cols-3 gap-[20px]">
        <li class="steps__list-item">Строительство железнодорожной магистрали Москва-Васюки</li>
        <li class="steps__list-item">Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов</li>
        <li class="steps__list-item">Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей, фруктов, икры, шоколадных конфет</li>
        <li class="steps__list-item">Строительство дворца для турнира</li>
        <li class="steps__list-item">Размещение гаражей для гостевого автотранспорта</li>
        <li class="steps__list-item">Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов</li>
        <li class="steps__list-item">Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов и дирижаблей во все концы света, включая Лос-Анжелос и Мельбурн</li>
      </ol>
    </section>
    <section class="players">
      <h2 class="section-title">Участники турнира</h2>
    </section>

  </main>
  <footer class="footer">
    <p class="footer__content">Все персонажи, события и цитаты являются вымышленными и не принадлежат создателям сайта. С подробностями можно познакомиться в главе XXXIV романа Ильи Ильфа и Евгения Петрова «Двенадцать стульев».</p>
  </footer>

  
</body>
</html>
