<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>"  rel="canonical" />
</head>
<body class="page">
  <%= require('html-loader!./inner-metrika.html').default %>
  <header class="header">
    <div class="header__content">
      <img class="logo logo_place_header" src="<%=require('./images/logo.svg')%>" alt="Шахматный клуб">
      <h1 class="header__title">Превратите уездный город <span class="block text-center">в столицу</span> <span class="block text-right">земного шара</span></h1>
      <p class="header__subtitle">Оплатите взнос на телеграммы для организации Международного васюкинского турнира по шахматам</p>
      <nav class="header__nav">
        <a class="header__cta-button header__cta-button_support" href="#support">Поддержать шахматную мысль</a>
        <a class="header__cta-button header__cta-button_details" href="#details">Подробнее о турнире</a>
      </nav>
    </div>
  </header>
  <main>
    <div class="promoline w-full bg-[--span-orange] overflow-hidden">
      <div class="promoline__item ">
        <span class="w-full whitespace-nowrap min-w-[100%] marquee"> Дело помощи утопающим — дело рук самих утопающих!
        Шахматы двигают вперед не только культуру, но и экономику!
        Лед тронулся, господа присяжные заседатели!</span>
        <span class="w-full whitespace-nowrap  min-w-[100%] marquee">>Дело помощи утопающим — дело рук самих утопающих! 
        Шахматы двигают вперед не только культуру, но и экономику!
        Лед тронулся, господа присяжные заседатели!</span>
      </div>
    </div>
    <section class="description">
      <div class="description__first" id="support">
        <p class="description__intro">Чтобы поддержать Международный васюкинский турнир <img class="description__image description__image_mob_view" src="<%=require('./images/desc-img.png')%>" alt="Шахматная партия"> посетите лекцию на тему: <span class="description__span">«Плодотворная дебютная идея»</span></p>
        <img class="description__image description__image_mob_hidden" src="<%=require('./images/desc-img.png')%>" alt="Шахматная партия">
      </div>
      <div class="description__event-details" id="details">
        <img class="description__game-photo" src="<%=require('./images/desc-game.png')%>" alt="Партия">
        <div class="description__time ">
          <p class="description__intro description__intro_det">И сеанс <span class="description__span">одновременной игры в шахматы на 160 досках</span> гроссмейстера О. Бендера</p>
          <table class="description__table tablee">
            <tbody>
            <tr  class="tablee__first-row">
              <th>Место проведения:</th>
              <td>Клуб «Картонажник»</td>
            </tr>
            <tr>
              <th>Дата и время мероприятия:</th>
              <td>22 июня 1927 г. в 18:00</td>
            </tr>
          </tbody>
          <tbody class="tablee__specmod">
            <tr>
              <th>Стоимость входных билетов:</th>
              <td>20 коп.</td>
            </tr>
            <tr>
              <th>Плата за игру:</th>
              <td>50 коп.</td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="tablee__last-row">
              <th>Взнос на телеграммы:</th>
              <td><span class="description__sto">100 руб.</span> 21 руб. 16 коп.</td>
            </tr>
          </tfoot>
          </table>
          <p class="section-subtitle">По всем вопросам обращаться в администрацию к К. Михельсону</p>
        </div>
      </div>
    </section>

    <section class="steps">
      <h2 class="section-title">Этапы преображения Васюков</h2>
      <p class="section-subtitle section-subtitle_steps steps__subtitle">Будущие источники обогащения васюкинцев</p>
      <img class="steps__poster" src="<%=require('./images/samolet.png')%>" alt="Самолет в Рио-Де-Женейро">
      <div class="steps__list-container">
        <ol class="steps__list">
          <li class="steps__list-item">Строительство железнодорожной магистрали Москва-Васюки</li>
          <li class="steps__list-item">Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов</li>
          <li class="steps__list-item">Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей, фруктов, икры, шоколадных конфет</li>
          <li class="steps__list-item">Строительство дворца для турнира</li>
          <li class="steps__list-item">Размещение гаражей для гостевого автотранспорта</li>
          <li class="steps__list-item">Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов</li>
          <li class="steps__list-item">
            <span class="max-w-[446px]">Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов и дирижаблей во все концы света, включая Лос-Анжелос и Мельбурн</span>
          </li>
        </ol>
      </div>
      <div class="steps__pagination">
        <button class="steps__nav-button steps__nav-button_left mr-auto"></button>
        <span class="steps__paggy steps__paggy_0" data-pag="0"></span>
        <span class="steps__paggy steps__paggy_100" data-pag="100"></span>
        <span class="steps__paggy steps__paggy_200" data-pag="200"></span>
        <span class="steps__paggy steps__paggy_300" data-pag="300"></span>
        <span class="steps__paggy steps__paggy_400" data-pag="400"></span>
        <button class="steps__nav-button steps__nav-button_right ml-auto"></button>
      </div>
    </section>
    <section class="players">
      <h2 class="section-title">Участники турнира</h2>
      <div class="players__cards-container">
        <ul class="flex justify-center mx-auto players-container">
          <li class="card">
            <img src="<%=require('./images/default-player-ava.png')%>" alt="Участник">
            <h3 class="card__title">Хозе-Рауль Капабланка</h3>
            <p class="card__desc">Чемпион мира по шахматам</p>
            <a class="card__link" href="#">Подробнее</a>
          </li>
          <li class="card">
            <img src="<%=require('./images/default-player-ava.png')%>" alt="Участник">
            <h3 class="card__title">Эммануил Ласкер</h3>
            <p class="card__desc">Чемпион мира по шахматам</p>
            <a class="card__link" href="#">Подробнее</a>
          </li>
          <li class="card">
            <img src="<%=require('./images/default-player-ava.png')%>" alt="Участник">
            <h3 class="card__title">Александр Алехин</h3>
            <p class="card__desc">Чемпион мира по шахматам</p>
            <a class="card__link" href="#">Подробнее</a>
          </li>
          <li class="card">
            <img src="<%=require('./images/default-player-ava.png')%>" alt="Участник">
            <h3 class="card__title">Арон Нимцович</h3>
            <p class="card__desc">Чемпион мира по шахматам</p>
            <a class="card__link" href="#">Подробнее</a>
          </li>
          <li class="card">
            <img src="<%=require('./images/default-player-ava.png')%>" alt="Участник">
            <h3 class="card__title">Рихард Рети</h3>
            <p class="card__desc">Чемпион мира по шахматам</p>
            <a class="card__link" href="#">Подробнее</a>
          </li>
          <li class="card">
            <img src="<%=require('./images/default-player-ava.png')%>" alt="Участник">
            <h3 class="card__title">Остап Бендер</h3>
            <p class="card__desc">Гроссмейстер</p>
            <a class="card__link" href="#">Подробнее</a>
          </li>
        </ul>
      </div>
      <div class="players__pagination">
        <button class="players__nav-button players__nav-button_left mr-auto"></button>
        <span class="current-players-step">2</span>
        <span class="ml-[1px] mr-[1px] opacity-60">/</span>
        <span class="opacity-60">6</span>
        <button class="players__nav-button players__nav-button_right ml-auto"></button>
      </div>
    </section>

  </main>
  <footer class="footer">
    <p class="footer__content">Все персонажи, события и цитаты являются вымышленными и не принадлежат создателям сайта. С подробностями можно познакомиться в главе XXXIV романа Ильи Ильфа и Евгения Петрова «Двенадцать стульев».</p>
  </footer>
  <template id="player-template">
    <li class="card">
      <img class="card__image" src="<%=require('./images/default-player-ava.png')%>" alt="Участник">
      <h3 class="card__title">Арон Нимцович</h3>
      <p class="card__desc">Чемпион мира по шахматам</p>
      <a class="card__link" href="#">Подробнее</a>
    </li>
  </template>
  
</body>
</html>
