.promoline__item {
 animation: scroll 12s infinite linear;
   font-family: 'Merriweather';
   font-size: 22px;
   padding: 18px 0;
}

@media screen and (max-width: 768px) {
    .promoline__item {
        font-size: 16px;
        padding: 10px 0;
    }
}
@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0)
    }
}

