.promoline__item {
   font-family: 'Merriweather';
   font-size: 22px;
   padding: 18px 0;
   position: relative;
   display: flex;
   overflow: hidden;
   gap: 20px;
}
.marquee {
    animation: scroll 10s linear infinite;
  }
@media screen and (max-width: 768px) {
    .promoline__item {
        font-size: 16px;
        padding: 10px 0;
    }
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }
  
